<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576664634524-33707rsob3h85iarv7ito3tandufe75m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576664634524-33707rsob3h85iarv7ito3tandufe75m</string>
	<key>API_KEY</key>
	<string>AIzaSyANsFsT4v80K2fmNEYsQFKJXY5sZr6LnEU</string>
	<key>GCM_SENDER_ID</key>
	<string>576664634524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.futfc.futchemistry</string>
	<key>PROJECT_ID</key>
	<string>futchemistryapp</string>
	<key>STORAGE_BUCKET</key>
	<string>futchemistryapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576664634524:ios:a272f2bf61261e16419959</string>
</dict>
</plist>